.App {
  text-align: center;
}

.header {
  background: #ddd;
  display: block;
}

.logo {
  float: left;
  width: 5%;
}

nav.menu {
  float: left;
  margin-top: 25px;
  width: 75%;
  text-align: left;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #000;
  padding: 4px 15px;
}

section {
  max-width: 80%;
  margin: 0 auto;
}

.voting {
  display: block;
  margin-top: 100px;
  width: 25%;
  border: 1px solid #000;
  padding: 10px;
}

.voting p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.counter {
  margin: 30px 0;
  font-size: 22px;
}

button {
  margin: 0 30px;
}

.innerwrap {
  margin-top: 60px;
}

.ulist ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.ulist ul li {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

.clear {
  clear: both;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 81vh;
}

.prodcontainer {
  display: block;
  margin: 0 -0.5%;
}

.item {
  width: 20%;
  padding: 0 0.5%;
  float: left;
  box-sizing: border-box;
  position: relative;
}

.wrap {
  border: 1px solid #ddd;
  padding: 15px;
}

.footer {
  width: 100%;
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 30px 0;
  box-sizing: border-box;
}

.proimg img {
  max-height: 180px;
  display: block;
  margin: 0 auto;
  width: auto;
}

.protitle {
  font-size: 22px;
}

.price {
  font-size: 18px;
}

.clear {
  clear: both;
}

.addbtn {
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px;
  margin-top: 10px;
  background-image: linear-gradient(105deg, #ffd500, #ff6d1e);
  box-shadow: 0 3px 7px 0 rgba(3, 46, 115, 0.25);
}

.cart-added {
  position: absolute;
  top: 13px;
  right: 10px;
}

.cart-added i {
  color: #228b22;
  font-size: 27px;
}

button.addbtn.disabled {
  background: darkgrey;
}

.usercontainer {
  display: block;
  margin: 0 -0.5%;
}

.user-item {
  display: inline-block;
  width: 20%;
  padding: 1.5% 0.5%;
  box-sizing: border-box;
}

.userimg img {
  width: 100%;
  max-width: 100%;
}

.usertitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.vote {
  padding: 0px;
  margin: 0px -10px;
}

ul.vote li {
  list-style: none;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 0px 5px;
}

.vote li {
  font-family: 'Fontawesome';
  color: #ccc;
}

.vote li i {
  cursor: pointer;
}

.like {
  text-align: left;
}

.like i:hover {
  color: #228b22;
}

.dislike {
  text-align: right;
}

.dislike i:hover {
  color: #ff0000;
}

.innerbtn {
  border: 1px solid;
  padding: 5px;
}

.like span {
  margin-left: 10px;
  width: 70%;
  color: green;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.dislike span {
  margin-right: 10px;
  width: 70%;
  color: #ff0000;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.todocontainer {
  width: 30%;
  margin: 120px auto 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.formbox {
  padding-bottom: 15px;
  display: block;
  text-align: left;
}

.formbox input[type="text"] {
  padding: 8px 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
}
.formbox button.btn {
  padding: 5px 10px;
  margin: 0 0 0 20px;
}
.listbox ul {
  padding: 0;
  margin: 0;
}
.listbox ul li {
  list-style: none;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
}
.listbox input[type="checkbox"] {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.listbox input[type="checkbox"]:checked+span {
  text-decoration: line-through;
}
.listbox ul li span {
  margin-left: 10px;
  cursor: pointer;
}
.listbox ul li label {
  display: inline-block;
  width: 94%;
}
.tablinks {
  display: block;
  margin: 10px 0 15px -10px;
  text-align: left;
}
.tablinks span {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px;
  width: auto;
}
.tablinks span:hover, .tablinks span.active {
  color: green;
  text-decoration: underline;
}
.list-rm {
  display: inline-block;
  color: #ff0000;
  cursor: pointer;
}

.login label {
  width: 23%;
  display: inline-block;
}

.login input[type="text"] {
  width: 70%;
}

.login button {
  margin-left: 24% !important;
}
.login .row {
  margin-bottom: 15px;
}
.hdr-profile {
  width: 20%;
  float: right;
  max-height: 70px;
}
.profimg {
  width: 17.5%;
  float: right;
  text-align: left;
  margin-right: 5px;
}
.profimg img {
  max-width: 100%;
  border: 0;
  border-radius: 50%;
}
.proflogin {
  display: block;
  float: left;
  padding-top: 25px;
  width: 81%;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
}
.proflogin span {
  padding: 0 5px;
}
span.logout, span.profile {
  cursor: pointer;
  color: deepskyblue;
}
.profile_container {
  width: 45%;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.profileimg {
  max-width: 200px;
  margin: 0 auto;
}
.profileimg img {
  border-radius: 50%;
  max-width: 100%;
}
.userdetails {
  width: 45%;
  margin: 25px auto;
}
.userdetails td {
  text-align: left;
}